/* =====================================================
# Hero
===================================================== */
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: linear-gradient(360deg, rgba(65, 146, 3, 0.85), rgba(16, 16, 15, 0.85)), url('../img/about/about.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
}

#hero .row {
    margin-top: 60px;
}

#hero .hero-txt {
    text-align: center;
}

#hero .hero-txt h2 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: var(--white-color);
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

#hero .hero-txt .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#hero .hero-txt .social i {
    color: var(--secondary-color);
    font-size: 55px;
    transition: all .3s ease-in-out;
}

#hero .hero-txt .social i:hover {
    color: var(--primary-color);
}

@media only screen and (max-width: 578px) {
    #hero {
        background-position: 72%;
    }

    #hero .hero-txt h2 {
        font-size: 35px;
    }

}

/* =====================================================
# About
===================================================== */
#about {
    padding-top: 40px;
    padding-bottom: 50px;
}

#about .container {
    overflow: hidden;
}

#about .row {
    gap: .3rem;
}

#about .about-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--black-color);
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
}

#about .about-title::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 7px;
    bottom: 0;
    top: 65px;
    background: var(--primary-color);
    border-radius: 5px;
}

#about .about-para {
    text-align: center;
    margin-bottom: 30px;
}

#about .card::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    background: var(--primary-color);
    width: 15px;
    height: 20px;
}

#about .card-body {
    padding: 20px 30px 25px 30px;
}

#about .card-body h3 {
    margin-bottom: 5px;
}

#about .card-body p {
    text-align: justify;
}


/* ==== Media Queries ==== */

@media only screen and (max-width: 1060px) {
    #about .container {
        padding: 0 20px;
    }

    #about .about-title {
        margin-bottom: 55px;
        font-size: 30px;
    }

    #about .about-title::before {
        top: 58px;
    }
}

@media only screen and (max-width: 578px) {
    #about {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    #about .container {
        padding: 0 20px;
    }

    #about .about-title {
        margin-bottom: 55px;
        font-size: 30px;
    }

    #about .about-title::before {
        top: 58px;
    }
}

/* ==== Media Queries ==== */

@media only screen and (max-width: 350px) {
    #about {
        padding-top: 45px;
        padding-bottom: 40px;
    }

    #about .container {
        padding: 0 20px;
    }

    #about .about-title {
        margin-bottom: 55px;
        font-size: 25px;
    }

    #about .about-title::before {
        top: 50px;
    }
}
