/* =====================================================
# Hero
===================================================== */
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: linear-gradient(360deg, rgba(65, 146, 3, 0.85), rgba(16, 16, 15, 0.85)), url('../img/events/events.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
}

#hero .row {
    margin-top: 60px;
}

#hero .hero-txt {
    text-align: center;
}

#hero .hero-txt h2 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: var(--white-color);
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

#hero .hero-txt .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#hero .hero-txt .social i {
    color: var(--secondary-color);
    font-size: 55px;
    transition: all .3s ease-in-out;
}

#hero .hero-txt .social i:hover {
    color: var(--primary-color);
}

@media only screen and (max-width: 578px) {
    #hero {
        background-position: 72%;
    }

    #hero .hero-txt h2 {
        font-size: 35px;
    }

}

/* =====================================================
# Events
===================================================== */
#events {
    padding-top: 40px;
    padding-bottom: 50px;
}

#events .container {
    overflow: hidden;
}

#events .day {
   margin-right: 5px;
}

#events .row {
    gap: .3rem;
}

#events .card {
    overflow: hidden;
    position: relative;
}

#events .card-img {
    height: 230px;
}

#events .card .card-img-top {
    transition: transform 1s ease-in-out;
    height: 230px;
    object-fit: cover;
}

#events .card .card-img-top:hover {
    transform: scale(1.6);
}

#events .events-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--black-color);
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
}

#events .events-title::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 7px;
    bottom: 0;
    top: 65px;
    background: var(--primary-color);
    border-radius: 5px;
}

#events .events-para {
    text-align: center;
    margin-bottom: 30px;
}

#events .card-body {
    padding: 18px 30px 25px 30px;
}

#events .card .events-text {
    content: "";
    position: absolute;
    top: 30px;
    right: -32px;
    bottom: 0;
    transform: rotate(-90deg);
    box-shadow: 0px 10px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    color: var(--white-color);
    width: 100px;
    height: 20px;
    padding: 20px;
    z-index: 1;
}

#events .card-body>* {
    margin-top: 17px;
}

#events .card-body h2 {
    text-transform: uppercase;
}

#events .card-body p {
    text-align: justify;
}

#events .card-body .btn {
    margin-bottom: 10px;
    padding: 9px 15px;
    background: var(--primary-color);
    color: var(--white-color);
    transition: all .3s;
    font-size: 16px;
}

#events .card-body .btn:hover {
    opacity: .8;
}

#events .card-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#events .card-btns .btn.direction {
    background: transparent;
    color: var(--primary-color);
}


/* ==== Media Queries ==== */

@media only screen and (max-width: 1060px) {
    #events .container {
        padding: 0 20px;
    }

    #events .events-title {
        margin-bottom: 55px;
        font-size: 30px;
    }

    #events .events-title::before {
        top: 58px;
    }

    #events .card-body .btn {
        font-size: 14px;
    }

}

@media only screen and (max-width: 578px) {
    #events {
        padding-top: 45px;
        padding-bottom: 28px;
    }

    #events .container {
        padding: 0 20px;
    }

    #events .events-title {
        margin-bottom: 55px;
        font-size: 30px;
    }

    #events .events-title::before {
        top: 58px;
    }

    #events .card-body .btn {
        font-size: 14px;
    }

}

/* ==== Media Queries ==== */

@media only screen and (max-width: 350px) {
    #events {
        padding-top: 45px;
        padding-bottom: 25px;
    }

    #events .container {
        padding: 0 20px;
    }

    #events .events-title {
        margin-bottom: 55px;
        font-size: 25px;
    }

    #events .events-title::before {
        top: 50px;
    }

    #events .card-body .btn {
        font-size: 10px;
    }

}