/* =====================================================
# Footer
===================================================== */
#footer {
    padding-top: 70px;
    padding-bottom: 60px;
    background: var(--white-color);
}

#footer .logo {
    width: 150px;
}

#footer ul li {
    list-style: none;
    margin-bottom: 4px;

}

#footer a {
    text-decoration: none;
    color: var(--gray-color);
    /* font-weight: 500; */
    transition: all .3s;
}

#footer a:hover {
    color: var(--primary-color);
}

#footer .col-title {
    margin-bottom: 15px;
}

#footer .col-staff {
    margin-top: 30px;
}

#footer .staff-mail {
    border-radius: 50px;
    border: 2px solid var(--primary-color);
    padding: 10px 24px;
    background: var(--primary-color);
    color: var(--white-color);
    transition: all .3s;
    box-shadow: 0px 1px 10px rgba(31, 197, 2, 0.15);
    font-weight: normal;
}

#footer .staff-mail:hover {
    border: 2px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
}

#footer .social {
    margin-top: 50px;
}

#footer .social .fab {
    color: var(--gray-color);
    margin-right: 12px;
    font-size: 20px;
    transition: all .3s;
}

#footer .social .fab:hover {
    color: var(--primary-color);
}

/* == Go-Top == */

.go_top {
    position: fixed;
    bottom: 16px;
    right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}

.go_top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.go_top a {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 27px;
    transition: all .5s;
    animation: colur 1s infinite alternate;
}

.go_top a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    transition: all .5s;
    animation: colour 1s infinite alternate;
}


.go_top .fa-angle-up {
    margin-top: 12px;
    margin-left: 17px;
}

@keyframes colur {
    from {
        color: var(--primary-color);
    }

    to {
        color: var(--secondary-color);
    }
}

@keyframes colour {
    from {
        color: var(--secondary-color);
    }

    to {
        color: var(--primary-color);
    }
}

/* ==== Media Queries ==== */

@media only screen and (max-width: 1060px) {
    #footer {
        padding-top: 50px;
    }

    #footer .col-staff {
        margin-top: 35px;
        margin-left: 0px;
    }

    #footer .col-title {
        margin-top: 17px;
        margin-bottom: 10px;
    }

    #footer .social {
        margin-top: 50px;
        margin-left: 0px;
    }

    #footer .copyright {
        margin-bottom: 40px;
    }
}