/* =====================================================
# Hero
===================================================== */
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin-top: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.6); */
    background: var(--primary-color);
    mix-blend-mode: multiply;
}

#hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#hero .hero-txt {
    text-align: center;
    margin-bottom: 100px;
    z-index: 2;
}

#hero .hero-txt h2 {
    font-size: 90px;
    font-weight: 900;
    line-height: 5rem;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    color: var(--secondary-color);
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

#hero .hero-txt .btn {
    text-decoration: none;
    background: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    padding: 13px 52px;
    transition: all .3s;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

#hero .hero-txt .btn:hover {
    opacity: 0.8;
}

/* =====================================================
# Services Schedule
===================================================== */
#services-schedule .card {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background: hsl(0, 0%, 100%, .4);
    backdrop-filter: blur(10px);
    position: absolute;
    bottom: 0;
    width: 800px;
    height: 150px;
    z-index: 2;
}

#services-schedule .card p {
    font-size: 18px;
    font-weight: bold;
}

#services-schedule .card .head-txt h1,
#services-schedule .card .head-txt h2 {
    font-weight: 900;
    font-family: 'Inter', sans-serif;
}
