/* =====================================================
# Hero
===================================================== */
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin-top: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    mix-blend-mode: multiply;
}

#hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#hero .hero-txt {
    text-align: center;
    margin-bottom: 120px;
    z-index: 2;
}

#hero .hero-txt h2 {
    text-transform: capitalize;
    font-size: 75px;
    font-weight: 900;
    line-height: 5rem;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    color: var(--secondary-color);
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

#hero .hero-txt .btn {
    text-decoration: none;
    background: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    padding: 13px 52px;
    transition: all .3s;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

#hero .hero-txt .btn:hover {
    opacity: 0.8;
}

/* ==== Media Queries ==== */

@media only screen and (max-width: 1060px) {
    #hero .hero-txt {
        margin-bottom: 190px;
    }

    #hero .hero-txt h2 {
        font-size: 35px;
        line-height: 2.2rem;
        margin-bottom: 30px;
    }

}

@media only screen and (max-width: 669px) {
    #hero .hero-txt {
        margin-bottom: 60px;
    }

    #hero .hero-txt h2 {
        font-size: 35px;
        line-height: 2.2rem;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 578px) {
    #hero .hero-txt {
        margin-bottom: 60px;
    }

    #hero .hero-txt h2 {
        font-size: 35px;
        line-height: 2.2rem;
        margin-bottom: 40px;
    }

}

/* =====================================================
# Services Schedule
===================================================== */
#services-schedule .card {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background: hsl(0, 0%, 100%, .4);
    backdrop-filter: blur(10px);
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    padding: 23px;
    width: 800px;
    height: 150px;
    z-index: 2;
}

#services-schedule .card p {
    font-size: 18px;
    font-weight: bold;
}

#services-schedule .card .head-txt h1,
#services-schedule .card .head-txt h2 {
    font-weight: 900;
    font-family: 'Inter', sans-serif;
}

#services-schedule .services-all-mobile {
    display: none;
}

/* ==== Media Queries ==== */

@media only screen and (max-width: 1060px) {
    #services-schedule .card {
        width: 80%;
        height: auto;
        margin-bottom: 120px;
    }
}

@media only screen and (max-width: 769px) {
    #services-schedule .card {
        width: 90%;
        height: auto;
        margin-bottom: 190px;

    }
}

@media only screen and (max-width: 705px) {
    #services-schedule .card {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    #services-schedule .card {
        width: 100%;
        height: auto;
        margin-bottom: -20px;
        padding: 15px;
        display: none;
    }

    #services-schedule .services-all-desktop {
        display: none;
    }

    #services-schedule .services-all-mobile {
        display: block;
    }

    #services-schedule .card .head-txt {
        text-align: center;
    }

    #services-schedule .card .space-between {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
}

/* =====================================================
# Pastors
===================================================== */
#pastors {
    padding-top: 50px;
    padding-bottom: 60px;
}

#pastors .container {
    padding: 0 20px;
}

#pastors .row {
    gap: 3rem;
}

#pastors .pastors-img img {
    width: 100%;
}

/* ==== Media Queries ==== */
@media only screen and (max-width: 1060px) {
    #pastors .container {
        padding: 0 40px;
    }
}

@media only screen and (max-width: 578px) {
    #pastors {
        padding-top: 0px;
        padding-bottom: 60px;
    }

    #pastors .container {
        padding: 0 30px;
    }

    #pastors .pastors-txt {
        text-align: center;
        margin-top: -10px;
    }
}

/* =====================================================
# Paralax
===================================================== */
#paralax {
    height: 450px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/church/church1.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#paralax .container {
    padding: 0 90px;
    overflow: hidden;
}

#paralax .paralax-txt {
    text-align: center;
}

#paralax h2 {
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-color);
    font-size: 70px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}

#paralax p {
    text-align: center;
    color: var(--light-color);
    margin-top: 20px;
    font-size: 20px;
}

#paralax .btn {
    margin-top: 30px;
}

#paralax .btn:hover {
    color: var(--white-color);
}

/* ==== Media Queries ==== */

@media only screen and (max-width: 1060px) {
    #paralax {
        height: 750px;
    }
}

@media only screen and (max-width: 578px) {
    #paralax {
        height: 600px;
    }

    #paralax .container {
        padding: 0 40px;
    }

    #paralax h2 {
        font-size: 30px;
    }

    #paralax p {
        text-align: justify;
        color: var(--light-color);
        margin-top: 20px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 350px) {
    #paralax {
        height: 750px;
    }
}

/* =====================================================
# Campus
===================================================== */
#campus {
    padding-top: 40px;
    padding-bottom: 40px;
}

#campus .container {
    overflow: hidden;
}


#campus .row {
    gap: .3rem;
}

#campus .card {
    overflow: hidden;
    position: relative;
}

#campus .card-img {
    height: 230px;
}

#campus .card .card-img-top {
    transition: transform 1s ease-in-out;
    height: 230px;
    object-fit: cover;
}

#campus .card .card-img-top:hover {
    transform: scale(1.6);
}

#campus .campus-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--black-color);
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
}

#campus .campus-title::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 7px;
    bottom: 0;
    top: 65px;
    background: var(--primary-color);
    border-radius: 5px;
}

#campus .campus-para {
    text-align: center;
    margin-bottom: 30px;
}

#campus .card-body {
    padding: 18px 30px 25px 30px;
}

#campus .card .campus-text {
    content: "";
    position: absolute;
    top: 30px;
    right: -32px;
    bottom: 0;
    transform: rotate(-90deg);
    box-shadow: 0px 10px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    color: var(--white-color);
    width: 100px;
    height: 20px;
    padding: 20px;
    z-index: 1;
}

#campus .card-body>* {
    margin-top: 17px;
}

#campus .card-body h2 {
    text-transform: uppercase;
}

#campus .card-body p {
    text-align: justify;
}

#campus .card-body .btn {
    margin-bottom: 10px;
    padding: 9px 15px;
    background: var(--primary-color);
    color: var(--white-color);
    transition: all .3s;
    font-size: 16px;
}

#campus .card-body .btn:hover {
    opacity: .8;
}

#campus .card-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#campus .card-btns .btn.direction {
    background: transparent;
    color: var(--primary-color);
}


/* ==== Media Queries ==== */

@media only screen and (max-width: 1060px) {
    #campus .container {
        padding: 0 20px;
    }

    #campus .campus-title {
        margin-bottom: 55px;
        font-size: 30px;
    }

    #campus .campus-title::before {
        top: 58px;
    }

    #campus .card-body .btn {
        font-size: 14px;
    }

}

@media only screen and (max-width: 578px) {
    #campus {
        padding-top: 45px;
        padding-bottom: 28px;
    }

    #campus .container {
        padding: 0 20px;
    }

    #campus .campus-title {
        margin-bottom: 55px;
        font-size: 30px;
    }

    #campus .campus-title::before {
        top: 58px;
    }

    #campus .card-body .btn {
        font-size: 14px;
    }

}

/* ==== Media Queries ==== */

@media only screen and (max-width: 350px) {
    #campus {
        padding-top: 45px;
        padding-bottom: 25px;
    }

    #campus .container {
        padding: 0 20px;
    }

    #campus .campus-title {
        margin-bottom: 55px;
        font-size: 25px;
    }

    #campus .campus-title::before {
        top: 50px;
    }

    #campus .card-body .btn {
        font-size: 10px;
    }

}

/* =====================================================
# latest-message
===================================================== */
#latest-message {
    padding-top: 0px;
    padding-bottom: 30px;
}

#latest-message .container {
    overflow: hidden;
}

#latest-message .latest-message-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--black-color);
    margin-bottom: 60px;
    font-size: 40px;
    font-weight: 600;
}

#latest-message .latest-message-title::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 7px;
    bottom: 0;
    top: 65px;
    background: var(--primary-color);
    border-radius: 5px;
}


#latest-message .video-wrapper {
    position: relative;
    /* padding-bottom: 56.25%; */
    padding-bottom: 54.25%;
    /* 16:9 */
    width: 100%;
    height: 200px;
}

#latest-message .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* ==== Media Queries ==== */

@media only screen and (max-width: 1060px) {
    #latest-message .container {
        padding: 0 20px;
    }

    #latest-message .latest-message-title {
        margin-bottom: 55px;
        font-size: 30px;
    }

    #latest-message .latest-message-title::before {
        top: 58px;
    }
}

@media only screen and (max-width: 350px) {
    #latest-message {
        padding-bottom: 15px;
    }

    #latest-message .latest-message-title {
        margin-bottom: 55px;
        font-size: 25px;
    }

    #latest-message .latest-message-title::before {
        top: 50px;
    }
}

/* =====================================================
# abundant-harvest
===================================================== */
#abundant-harvest {
    padding-top: 20px;
    padding-bottom: 30px;
}

#abundant-harvest .container {
    overflow: hidden;
}

#abundant-harvest img {
    border-radius: 20px;
    width: 100%;
}

@media only screen and (max-width: 1060px) {
    #abundant-harvest {
        padding-top: 20px;
        padding-bottom: 35px;
    }

    #abundant-harvest .container {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 578px) {
    #abundant-harvest {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    #abundant-harvest .container {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 350px) {
    #abundant-harvest {
        padding-bottom: 15px;
    }
}

/* =====================================================
# Weekly-services
===================================================== */
#weekly-services {
    padding-top: 0px;
    padding-bottom: 30px;
}

#weekly-services .container {
    overflow: hidden;
}


#weekly-services .row {
    gap: .5rem;
}

#weekly-services .card {
    overflow: hidden;
    position: relative;
}

#weekly-services .card-img {
    height: 230px;
}

#weekly-services .card .card-img-top {
    transition: transform 1s ease-in-out;
    height: 230px;
    object-fit: cover;
}

#weekly-services .card .card-img-top:hover {
    transform: scale(1.6);
}

#weekly-services .weekly-services-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--black-color);
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
}

#weekly-services .weekly-services-title::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 7px;
    bottom: 0;
    top: 65px;
    background: var(--primary-color);
    border-radius: 5px;
}

#weekly-services .weekly-services-para {
    text-align: center;
    margin-bottom: 30px;
}

#weekly-services .card-body {
    padding: 18px 40px 25px 40px;
}

#weekly-services .card .weekly-services-text {
    content: "";
    position: absolute;
    right: -32px;
    bottom: 25px;
    transform: rotate(-90deg);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    color: var(--white-color);
    width: 100px;
    height: 20px;
    padding: 20px;
    z-index: -1;
    border-top-right-radius: 15px;
}

#weekly-services .card-body>* {
    margin-top: 17px;
}

#weekly-services .card-body h2 {
    text-transform: uppercase;
}

#weekly-services .card-body p {
    text-align: justify;
}

#weekly-services .card-body .btn {
    margin-bottom: 10px;
    padding: 9px 22px;
    background: var(--primary-color);
    color: var(--white-color);
    transition: all .3s;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

#weekly-services .card-body .btn:hover {
    opacity: .8;
}

/* ==== Media Queries ==== */

@media only screen and (max-width: 1060px) {
    #weekly-services .container {
        padding: 0 20px;
    }

    #weekly-services .weekly-services-title {
        margin-bottom: 55px;
        font-size: 30px;
    }

    #weekly-services .weekly-services-title::before {
        top: 58px;
    }
}

@media only screen and (max-width: 578px) {
    #weekly-services {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #weekly-services .container {
        padding: 0 20px;
    }

    #weekly-services .weekly-services-title {
        margin-bottom: 55px;
        font-size: 30px;
    }

    #weekly-services .weekly-services-title::before {
        top: 58px;
    }
}

@media only screen and (max-width: 350px) {
    #weekly-services {
        padding-top: 10px;
        padding-bottom: 0px;
    }

    #weekly-services .container {
        padding: 0 20px;
    }

    #weekly-services .weekly-services-title {
        margin-bottom: 55px;
        font-size: 25px;
    }

    #weekly-services .weekly-services-title::before {
        top: 50px;
    }
}

/* =====================================================
# Events
===================================================== */
#events {
    padding-top: 0px;
    padding-bottom: 50px;
}

#events .container {
    overflow: hidden;
}

#events .day {
    margin-right: 5px;
}

#events .row {
    gap: .3rem;
}

#events .events-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--black-color);
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
}

#events .events-title::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 7px;
    bottom: 0;
    top: 65px;
    background: var(--primary-color);
    border-radius: 5px;
}

#events .events-para {
    text-align: center;
    margin-bottom: 30px;
}

#events .card {
    overflow: hidden;
}

#events .card-img {
    height: 230px;
    position: relative;
}

#events .card .events-text {
    position: absolute;
    right: 25px;
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    color: var(--white-color);
    width: 100px;
    height: 20px;
    padding: 20px;
    z-index: 2;
    border-radius: 10px;
    font-weight: bold;
}

#events .card .card-img-top {
    transition: transform 1s ease-in-out;
    height: 230px;
    object-fit: cover;
}

#events .card .card-img-top:hover {
    transform: scale(1.6);
}

#events .card-body {
    padding: 18px 30px 25px 30px;
}

#events .card-body>* {
    margin-top: 17px;
}

#events .card-body h2 {
    text-transform: uppercase;
}

#events .card-body p {
    text-align: start;
}

#events .card-body .btn {
    margin-bottom: 10px;
    padding: 9px 15px;
    background: var(--primary-color);
    color: var(--white-color);
    transition: all .3s;
    font-size: 16px;
}

#events .card-body .btn:hover {
    opacity: .8;
}

#events .card-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#events .card-btns .btn.event {
    background: transparent;
    color: var(--primary-color);
}

#events .card-btns .btn.event:hover {
    background: var(--primary-color);
    color: var(--white-color);
}


/* ==== Media Queries ==== */

@media only screen and (max-width: 1060px) {
    #events {
        padding-top: 0px;
        padding-bottom: 50px;
    }

    #events .container {
        padding: 0 20px;
    }

    #events .events-title {
        margin-bottom: 55px;
        font-size: 30px;
    }

    #events .events-title::before {
        top: 58px;
    }

    #events .card-body .btn {
        font-size: 14px;
    }

}

@media only screen and (max-width: 578px) {
    #events {
        padding-top: 25px;
        padding-bottom: 45px;
    }

    #events .container {
        padding: 0 20px;
    }

    #events .events-title {
        margin-bottom: 45px;
        font-size: 30px;
    }

    #events .events-title::before {
        top: 58px;
    }

    #events .card-body .btn {
        font-size: 14px;
    }

}

/* ==== Media Queries ==== */

@media only screen and (max-width: 350px) {
    #events {
        padding-top: 45px;
        padding-bottom: 25px;
    }

    #events .container {
        padding: 0 20px;
    }

    #events .events-title {
        margin-bottom: 55px;
        font-size: 25px;
    }

    #events .events-title::before {
        top: 50px;
    }

    #events .card-body .btn {
        font-size: 10px;
    }

}