/* =====================================================
# Hero
===================================================== */
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin-top: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    /* position: relative; */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.6); */
    background: var(--primary-color);
    mix-blend-mode: multiply;
}

#hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#hero .hero-txt {
    text-align: center;
    margin-bottom: 120px;
    z-index: 2;
}

#hero .hero-txt h2 {
    text-transform: capitalize;
    font-size: 75px;
    font-weight: 900;
    line-height: 5rem;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    color: var(--secondary-color);
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

#hero .hero-txt .btn {
    text-decoration: none;
    background: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    padding: 13px 52px;
    transition: all .3s;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

#hero .hero-txt .btn:hover {
    opacity: 0.8;
}

/* =====================================================
# Services Schedule
===================================================== */
#services-schedule .card {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background: hsl(0, 0%, 100%, .4);
    backdrop-filter: blur(10px);
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    width: 800px;
    height: 150px;
    z-index: 2;
}

#services-schedule .card p {
    font-size: 18px;
    font-weight: bold;
}

#services-schedule .card .head-txt h1,
#services-schedule .card .head-txt h2 {
    font-weight: 900;
    font-family: 'Inter', sans-serif;
}

/* =====================================================
# Pastors
===================================================== */
#pastors {
    /* height: 500px; */
    padding: 60px 0 60px 0;
}

#pastors .container {
    padding: 0 20px;
}


#pastors .row {
    gap: 3rem;
}


#pastors .pastors-img img {
    width: 100%;
}

/* =====================================================
# Paralax
===================================================== */
#paralax {
    height: 450px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/church/church1.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#paralax .container {
    padding: 0 90px;
    overflow: hidden;
}

#paralax .paralax-txt {
    text-align: center;
}

#paralax h2 {
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-color);
    font-size: 70px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}

#paralax p {
    text-align: center;
    color: var(--light-color);
    margin-top: 20px;
    font-size: 20px;
}

#paralax .btn {
    margin-top: 30px;
}

/* =====================================================
# Campus
===================================================== */
#campus {
    padding: 60px 60px;
}

#campus .container {
    overflow: hidden;
}

/* #campus .row {
    gap: .3rem;
} */

#campus .campus-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--black-color);
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
}

#campus .campus-title::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 7px;
    bottom: 0;
    top: 65px;
    background: var(--primary-color);
    border-radius: 5px;
}

#campus .card-body>* {
    margin-top: 17px;
}

#campus .card-body h2 {
    text-transform: uppercase;
}

#campus .card-body p {
    text-align: justify;
}

#campus .card-body .btn {
    margin-bottom: 10px;
    padding: 12px 24px;
}