/* =====================================================
# Hero
===================================================== */
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: linear-gradient(360deg, rgba(65, 146, 3, 0.85), rgba(16, 16, 15, 0.85)), url('../img/pastors/pastors.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: multiply;
    background-size: cover;
}

#hero .row {
    margin-top: 60px;
}

#hero .hero-txt {
    text-align: center;
}

#hero .hero-txt h2 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: var(--white-color);
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

#hero .hero-txt .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#hero .hero-txt .social i {
    color: var(--secondary-color);
    font-size: 55px;
    transition: all .3s ease-in-out;
}

#hero .hero-txt .social i:hover {
    color: var(--primary-color);
}

@media only screen and (max-width: 578px) {
    #hero {
        background-position: 72%;
    }

    #hero .hero-txt h2 {
        font-size: 35px;
    }

}

/* =====================================================
# Pastors
===================================================== */
#pastors {
    padding-top: 40px;
    padding-bottom: 35px;
}

#pastors .container {
    padding: 0 20px;
}

#pastors .row {
    gap: 3rem;
}

#pastors .pastors-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--black-color);
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 600;
}

#pastors .pastors-title::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 7px;
    bottom: 0;
    top: 65px;
    background: var(--primary-color);
    border-radius: 5px;
}

#pastors .pastors-img img {
    width: 100%;
}

/* ==== Media Queries ==== */
@media only screen and (max-width: 1060px) {
    #pastors .container {
        padding: 0 40px;
    }

    #pastors .pastors-title {
        margin-bottom: 55px;
        font-size: 30px;
    }

    #pastors .pastors-title::before {
        top: 58px;
    }
}

@media only screen and (max-width: 578px) {
    #pastors {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    #pastors .container {
        padding: 0 30px;
    }

    #pastors .pastors-title {
        margin-bottom: 55px;
        font-size: 30px;
    }

    #pastors .pastors-title::before {
        top: 58px;
    }


    #pastors .pastors-txt {
        text-align: center;
        margin-top: -10px;
    }
}

@media only screen and (max-width: 350px) {

    #pastors .container {
        padding: 0 20px;
    }

    #pastors .pastors-title {
        margin-bottom: 55px;
        font-size: 25px;
    }

    #pastors .pastors-title::before {
        top: 50px;
    }

    #pastors .card-body .btn {
        font-size: 10px;
    }
}

/* =====================================================
# Other-pastors
===================================================== */
#other-pastors {
    padding-top: 0px;
    padding-bottom: 50px;
}

#other-pastors .container {
    overflow: hidden;
}

#other-pastors .row {
    gap: .3rem;
}

#other-pastors .other-pastors-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--black-color);
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
}

#other-pastors .other-pastors-title::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 7px;
    bottom: 0;
    top: 65px;
    background: var(--primary-color);
    border-radius: 5px;
}

#other-pastors .card-body {
    padding: 13px 30px 20px 30px;
}

#other-pastors .card-body h2 {
    text-transform: uppercase;
    font-size: 20px;
}

#other-pastors .card-body p {
    text-align: start;
    margin-top: 5px;
}

/* ==== Media Queries ==== */

@media only screen and (max-width: 1060px) {
    #other-pastors .container {
        padding: 0 20px;
    }

    #other-pastors .other-pastors-title {
        margin-bottom: 55px;
        font-size: 30px;
    }

    #other-pastors .other-pastors-title::before {
        top: 58px;
    }

    #other-pastors .card-body .btn {
        font-size: 14px;
    }

}

@media only screen and (max-width: 578px) {
    #other-pastors {
        padding-top: 0px;
        padding-bottom: 40px;
    }

    #other-pastors .container {
        padding: 0 20px;
    }

    #other-pastors .other-pastors-title {
        margin-bottom: 55px;
        font-size: 30px;
    }

    #other-pastors .other-pastors-title::before {
        top: 58px;
    }

    #other-pastors .card-body .btn {
        font-size: 14px;
    }

}

/* ==== Media Queries ==== */

@media only screen and (max-width: 350px) {
    #other-pastors {
        padding-top: 45px;
        padding-bottom: 25px;
    }

    #other-pastors .container {
        padding: 0 20px;
    }

    #other-pastors .other-pastors-title {
        margin-bottom: 55px;
        font-size: 25px;
    }

    #other-pastors .other-pastors-title::before {
        top: 50px;
    }

    #other-pastors .card-body .btn {
        font-size: 10px;
    }

}