/* ==================================================
# Navigation
===================================================*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white-color);
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    border-bottom: 1px solid var(--light-gray-color);
    transition: all 0.6s ease-in-out;
}

.navbar.min-height {
    height: 65px;
}

.navbar.max-height {
    height: 70px;
}

.navbar .nav-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin-left: 60px;
    outline: none;
}

.nav-brand .brand-img img {
    transition: all 0.3s ease;
    width: 180px;
    margin-top: 20px;
}

.nav-brand .brand-text {
    font-size: 20px;
    color: var(--primary-color);
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.nav-brand .brand-text.min-font {
    font-size: 17px;
}

.nav-brand .brand-text.max-font {
    font-size: 20px;
}

.navbar .navbar-nav {
    display: flex;
    margin-right: auto;
    margin-left: 60px;
    list-style-type: none;
}

.navbar .navbar-nav .nav-item {
    margin: 0 15px;
}

.navbar .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    outline: none;
    font-size: 17px;
    color: var(--gray-color);
    transition: color 0.3s ease;
    position: relative;
}

.navbar .navbar-nav .nav-item .nav-link.min-fonts {
    font-size: 16px;
}

.navbar .navbar-nav .nav-item .nav-link.max-fonts {
    font-size: 17px;
}

.navbar .navbar-nav .nav-item .nav-link::before {
    position: absolute;
    content: '';
    left: 0;
    top: -5px;
    height: 3px;
    width: 100%;
    background: var(--primary-color);
    transform: scaleX(0);
    transition: transform .4s linear;
}

.navbar .navbar-nav .nav-item .nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: center;
}

.navbar .navbar-nav .nav-item .nav-link.active {
    color: var(--primary-color);
    font-weight: 600;
}

.navbar .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-nav .nav-item .nav-link.active:hover {
    color: var(--primary-color);
}

.navbar .search-cart-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}

.navbar .search,
.navbar .cart,
.navbar .user {
    margin: 0 10px;
}

.navbar .search #search {
    border: none;
    outline: none;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    padding: 8px 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.navbar .search #search.min-padding-right {
    padding-right: 30px;
    transition: all 0.3s;
}

.navbar .search #search.max-padding-right {
    padding-right: 90px;
    transition: all 0.3s;
}

.navbar .search ::placeholder {
    padding-left: 0px;
}

.navbar .fa-search {
    position: absolute;
    margin-top: 11px;
    margin-left: 9px;
    color: var(--gray-color);
    font-size: 16px;
}

.navbar .cart,
.navbar .user {
    border-radius: 50%;
    border: 1px solid var(--black-color);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.navbar .cart-link {
    text-decoration: none;
}

.navbar .cart:hover,
.navbar .user:hover {
    cursor: pointer;
    border: 1px solid var(--danger-color);
}

.navbar .cart:hover .fa-shopping-basket,
.navbar .user:hover .fa-user {
    color: var(--danger-color);
}

.navbar .cart .badge {
    position: absolute;
    margin-left: 18px;
    margin-top: -15px;
    z-index: 1;
    background: red;
    color: var(--white-color);
    font-size: 10px;
    font-weight: bold;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .fa-shopping-basket,
.navbar .fa-user {
    font-size: 20px;
    color: var(--black-color);
    transition: all 0.3s;
}

.navbar .fa-shopping-basket:hover,
.navbar .fa-user:hover {
    cursor: pointer;
}

.navbar .menu {
    border-radius: 5px;
    padding: 10px 15px;
}

.navbar .menu-bar-group-1,
.navbar .menu-bar-group-2,
.navbar .menu-bar-group-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0;
}

.navbar #check,
.navbar #checkbtn {
    display: none;
}

.navbar .menu .fa-th {
    color: var(--primary-color);
    font-size: 20px;
}

.navbar .menu .fa-th-large {
    color: var(--primary-color);
    font-size: 20px;
}

.navbar .menu .menu-bar {
    background: var(--primary-color);
    height: 4px;
    margin: 0 2px
}

.navbar .menu .menu-bar:nth-child(1) {
    width: 5px;
}

.navbar .menu .menu-bar:nth-child(2) {
    width: 5px;
}

.navbar .menu .menu-bar:nth-child(3) {
    width: 5px;
}

.navbar div.show {
    display: block;
}

.navbar div.hide {
    display: none;
}

.animate-up {
    animation: .7s up;
}

@keyframes up {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.animate-down {
    animation: .7s down;
}

@keyframes down {
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        transform: translateY(10px);
        opacity: 0;
    }
}

.navbar .carts {
    background: var(--white-color);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 25px;
    width: 25%;
    z-index: 10;
    position: absolute;
    display: none;
    margin-top: 371px;
    margin-right: 300px;
    pointer-events: none;
}

.navbar .carts .cart-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    background: var(--light-color);
    padding: 9px 10px;
    border-bottom: 2px solid var(--gray-color);
}

.navbar .carts .cart-details .fa-trash-alt {
    pointer-events: all;
}

.navbar .carts .cart-img {
    width: 60px;
    height: 45px;
}

.navbar .cart-checkout-btns {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.navbar .cart-checkout-btns button,
.navbar .cart-checkout-btns a {
    font-size: 14px;
    text-decoration: none;
    pointer-events: all;
}

.navbar .user-account {
    background: var(--white-color);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 40px;
    width: 23%;
    z-index: 10;
    position: absolute;
    display: none;
    margin-top: 423px;
    margin-right: 300px;
}

.navbar .user-account::after {
    content: '';
    position: absolute;
    width: 10%;
    height: 14px;
    background: var(--light-gray-color);
    right: 0;
    top: 0;
    margin-top: -14px;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

.navbar .user-account ::placeholder {
    font-size: 15px;
}

.navbar .user-account p {
    padding-top: 10px;
    font-size: 14px;
    color: var(--gray-color);
    font-weight: 600;
}

.navbar .user-account .forgot a {
    text-decoration: none;
    color: var(--gray-color);
    transition: all .3s;
}

.navbar .user-account .forgot a:hover {
    color: var(--primary-color);
}

.navbar .user-account .input-group {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: column wrap;
    gap: .5rem;
}

.navbar .user-account .input-group input {
    width: 100%;
    padding: 8px 12px;
    outline: none;
    border: none;
    background: none;
    font-size: 15px;
    border-bottom: 2px solid var(--primary-color);
}

.navbar .user-account .input-group input.animate-gray {
    border-bottom: 2px solid var(--light-gray-color);
    transition: all 1s;
}

.navbar .user-account .input-group input.animate-primary {
    border-bottom: 2px solid var(--primary-color);
    transition: all 1s;
}

.navbar .user-account .input-group .pass-eyes {
    position: relative;
}

.navbar .user-account .input-group i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.navbar .user-account .input-group .eye {
    right: 15px;
}

.navbar .user-account .input-group .eye.show {
    display: block;
}

.navbar .user-account .input-group .eye.hide {
    display: none;
}

.navbar .user-account .input-group .fa-eye {
    display: block;
}

.navbar .user-account .input-group .fa-eye-slash {
    display: none;
}

.navbar .user-account .sign-in-up {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: column wrap;
    margin-top: 22px;
}

.navbar .user-account .sign-in-up #sign_in {
    font-size: 14px;
}

.navbar .user-account .sign-in-up #sign_up {
    margin-top: 10px;
    padding: 8px 12px;
    outline: none;
    border: none;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.navbar .user-account .user-social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: .9rem;
}

.navbar .user-account .user-social a {
    font-size: 20px;
    text-decoration: none;
    color: var(--primary-color);
    transition: all .3s;
}

.navbar .user-account .user-social a:hover {
    color: var(--gray-color);
}


/* ======= Media Queries ======= */

@media only screen and (max-width: 1060px) {
    .navbar .nav-brand {
        margin-left: 30px;
    }
    .navbar .navbar-nav {
        margin-right: 30px;
    }
    .navbar .navbar-nav:last-child {
        margin-right: 20px;
    }
    .navbar .user-account::after {
        display: none;
    }
}

@media only screen and (max-width: 1025px) {
    .navbar .nav-brand {
        margin-left: 20px;
    }
    .nav-brand .brand-text {
        font-size: 17px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    .nav-brand .brand-logo {
        width: 50px;
    }
    .navbar #checkbtn {
        display: block;
        margin-right: 10px;
        cursor: pointer;
    }
    .navbar label:hover {
        cursor: pointer;
    }
    .navbar .navbar-nav {
        display: flex;
        flex-flow: column nowrap;
        position: absolute;
        top: 0;
        margin-top: 70px;
        width: 100%;
        height: 700px;
        background: var(--white-color);
        padding-top: 30px;
        padding-left: 30px;
        left: -120%;
        transition: all .5s;
        margin-right: 0px;
        margin-left: 0px;
    }
    .navbar .navbar-nav .nav-item {
        margin: 15px 0;
    }
    .navbar .navbar-nav .nav-item .nav-link {
        font-size: 20px;
    }
    .navbar .search-cart-user {
        display: grid;
        position: absolute;
        top: 0;
        margin-top: 380px;
        width: 100%;
        background: var(--white-color);
        padding-top: 0px;
        padding-left: 30px;
        left: -120%;
        transition: all .5s;
        margin-right: 0px;
        margin-left: 0px;
    }
    .navbar .search,
    .navbar .cart,
    .navbar .user {
        margin: 15px 0;
    }
    #check:checked~.navbar-nav,
    #check:checked~.search-cart-user {
        left: 0;
    }
    .navbar .menu {
        margin-right: -0px;
    }
    .navbar .menu .menu-bar {
        background: var(--primary-color);
        height: 4px;
        margin: 0 2px
    }
    .navbar .user-account,
    .navbar .carts {
        width: 30%;
        margin-top: -350px;
        margin-right: 0px;
        margin-left: 380px;
    }
}

@media only screen and (max-width: 768px) {
    .navbar .user-account,
    .navbar .nav-brand {
        margin-left: 5px;
    }
    .nav-brand .brand-img img {
        width: 150px;
        margin-top: 15px;
    }
    .navbar .menu {
        margin-right: -6px;
    }
    .navbar .carts {
        width: 40%;
        margin-top: -350px;
        margin-right: 0px;
        margin-left: 380px;
    }
}

@media only screen and (max-width: 576px) {
    .navbar .menu {
        margin-right: -8px;
    }
    .navbar .user-account,
    .navbar .carts {
        width: 85%;
        margin-top: -380px;
        margin-right: 0px;
        margin-left: 438px;
    }
}

@media only screen and (max-width: 415px) {
    .navbar .user-account,
    .navbar .carts {
        width: 85%;
        margin-top: -380px;
        margin-right: 0px;
        margin-left: 314px;
    }
}

@media only screen and (max-width: 412px) {
    .navbar .user-account,
    .navbar .carts {
        width: 85%;
        margin-top: -380px;
        margin-right: 0px;
        margin-left: 312px;
    }
}

@media only screen and (max-width: 376px) {
    .navbar .user-account,
    .navbar .carts {
        width: 85%;
        margin-top: -380px;
        margin-right: 0px;
        margin-left: 275px;
    }
}

@media only screen and (max-width: 366px) {
    .navbar .user-account,
    .navbar .carts {
        width: 85%;
        margin-top: -380px;
        margin-right: 0px;
        margin-left: 260px;
    }
}

@media only screen and (max-width: 326px) {
    .navbar .nav-brand {
        margin-left: 2px;
    }
    .nav-brand .brand-text {
        font-size: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .nav-brand .brand-logo {
        width: 40px;
    }
    .navbar .navbar-nav .nav-item .nav-link {
        font-size: 17px;
    }
    .navbar .menu {
        border-radius: 5px;
        padding: 6px 9px;
    }
    .navbar .menu .menu-bar {
        background: var(--primary-color);
        height: 4px;
        margin: 0 2px
    }
    .navbar .user-account,
    .navbar .carts {
        width: 85%;
        margin-top: -380px;
        margin-right: 0px;
        margin-left: 220px;
    }
    .navbar .carts .cart-details {
        padding: 9px 10px;
        font-size: 12px;
    }
    .navbar .carts .cart-checkout-btns .btn {
        font-size: 11px;
    }
}

@media only screen and (max-width: 300px) {
    .navbar .nav-brand {
        margin-left: 15px;
    }
    .nav-brand .brand-text {
        font-size: 14px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    .nav-brand .brand-logo {
        width: 30px;
    }
    .navbar .navbar-nav .nav-item .nav-link {
        font-size: 15px;
    }
    .navbar .menu {
        border-radius: 5px;
        padding: 6px 9px;
    }
    .navbar .menu .menu-bar {
        background: var(--primary-color);
        height: 4px;
        margin: 0 2px
    }
    .navbar .user-account,
    .navbar .carts {
        width: 85%;
        margin-top: -380px;
        margin-right: 0px;
        margin-left: 180px;
        padding: 25px;
    }
    .navbar .carts .cart-details {
        padding: 9px 8px;
        font-size: 10px;
    }
    .navbar .carts .cart-checkout-btns .btn {
        font-size: 7px;
    }
}


/* ======= End Queries ======== */


/* ==================================================
# Footer
===================================================*/

footer {
    padding-top: 60px;
    padding-bottom: 90px;
}

footer .footer-logo {
    height: 250px;
    width: auto;
}

footer .lead {
    font-size: 15px;
    font-weight: 400;
    color: var(--gray-color);
}

footer h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 2.0em;
}

footer h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 3.0em;
}

footer p {
    font-weight: 300;
    font-size: 17px;
    color: #d8d3d3;
}

footer .social a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 24px;
    margin: 0 5px;
    transition: color 0.3s ease;
}

footer .social a:hover {
    color: var(--gray-color);
}

footer .footer-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

footer .footer-nav a {
    text-decoration: none;
    margin: 8px 0;
    font-size: 15px;
    color: var(--gray-color);
    transition: color 0.3s ease;
}

footer .footer-nav a:hover {
    color: var(--dark-color);
}

footer .newsletters {
    margin-top: 5px;
}

footer .newsletters .newsletters-form form {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

footer .newsletters .newsletters-form form input {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 12px 24px;
    outline: none;
    border: none;
    border-radius: 3px;
}

footer .newsletters .newsletters-form form input[type=submit] {
    background: var(--primary-color);
    color: var(--white-color);
    transition: all 0.3s ease;
}

footer .newsletters .newsletters-form form input[type=submit]:hover {
    cursor: pointer;
    color: var(--light-gray-color);
}


/* ======= Media Queries ======= */

@media only screen and (max-width: 1060px) {
    footer .container {
        padding-left: 100px;
        padding-right: 100px;
    }
    footer .nav-brand {
        margin-left: -40px;
    }
    footer .nav-brand .brand-text {
        font-size: 17px;
    }
    footer .nav-brand .brand-logo {
        width: 50px;
    }
}

@media only screen and (max-width: 768px) {
    footer .container {
        padding-left: 60px;
        padding-right: 60px;
    }
    footer .social {
        margin-top: 20px;
    }
    footer .nav-brand {
        margin-left: -445px;
    }
    footer .nav-brand .brand-text {
        font-size: 17px;
    }
    footer .nav-brand .brand-logo {
        width: 50px;
    }
    footer .footer-logo {
        margin: -60px 0 -120px 0;
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    footer .container {
        padding-left: 40px;
        padding-right: 40px;
    }
    footer .nav-brand {
        margin-left: -221px;
    }
    footer .nav-brand .brand-text {
        font-size: 17px;
    }
    footer .nav-brand .brand-logo {
        width: 50px;
    }
    footer .lead {
        text-align: center;
    }
}

@media only screen and (max-width: 476px) {
    footer .nav-brand {
        margin-left: -92px;
    }
    footer .nav-brand .brand-text {
        font-size: 17px;
    }
    footer .nav-brand .brand-logo {
        width: 50px;
    }
}

@media only screen and (max-width: 376px) {
    footer .nav-brand {
        margin-left: -55px;
    }
    footer .nav-brand .brand-text {
        font-size: 17px;
    }
    footer .nav-brand .brand-logo {
        width: 50px;
    }
}

@media only screen and (max-width: 366px) {
    footer .nav-brand {
        margin-left: -42px;
    }
    footer .nav-brand .brand-text {
        font-size: 17px;
    }
    footer .nav-brand .brand-logo {
        width: 50px;
    }
}

@media only screen and (max-width: 326px) {
    footer .nav-brand {
        margin-left: 0px;
    }
    footer .nav-brand .brand-text {
        font-size: 17px;
    }
    footer .nav-brand .brand-logo {
        width: 50px;
    }
}


/* ======= End Queries ======== */


/* == Go-Top == */

.go_top {
    position: fixed;
    bottom: 16px;
    right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}

.go_top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.go_top a {
    background: var(--primary-color);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 27px;
    transition: all .5s;
    animation: colur 1s infinite alternate;
}

.go_top .fa-angle-up {
    margin-top: 12px;
    margin-left: 17px;
}

@keyframes colur {
    from {
        color: var(--light-gray-color);
    }
    to {
        color: var(--light-color);
    }
}

.go_top a:hover {
    background: var(--secondary-color);
    color: var(--light-color);
    transition: all .5s;
    animation: colour 1s infinite alternate;
}

@keyframes colour {
    from {
        color: var(--light-color);
    }
    to {
        color: var(--light-gray-color);
    }
}