body {
   background-color: #f0f0f0;
   overflow: hidden;
}

.header {
   background-color: dodgerblue; 
   margin-top: -8px;
   height: auto;
   padding: 12px;
}

table {
   border-collapse: collapse;
}

#sis {
   margin-left: 80px;
}

#ifm {
   margin-right: 50px;
}

section {
   background-color: #f0f0f0 ;
   padding: 54px;
}

.form {
   color: dodgerblue;
   width: 250px;
   padding: 12px;
   margin: 0 auto;
   background-color: #ffffff;
   border-radius: 1px;
   opacity: 0.5px;
   height: 300px;
   margin-top: 50px;
   box-shadow: 3px 5px 10px 3px #000000;
}

input[type=text] {
   padding: 8px 8px;
   border-radius: 2px;
   border: 1px solid lightgray;
   background-color: #f0f0f0;
}

input[type=password] {
   padding: 8px 8px;
   margin-top: 5px;
   border-radius: 2px;
   border: 1px solid lightgray;
   background-color: #f0f0f0;
}

input[type=submit] {
   padding: 8px 71px;
   border: none;
   margin-top: 5px;
   border-radius: 2px;
   cursor: pointer;
   transition: all 0.5s;
   background-color: dodgerblue;
   color: #ffffff;
   border: 1px solid dodgerblue;
}

input[type=submit]:hover {
   background-color: #f0f0f0;
   color: dodgerblue;
   transition: all 0.5s;
   opacity: 0.9;
   border: 1px solid dodgerblue;
}

input[type=reset] {
   padding: 8px 67px;
   border: none;
   margin-top: 5px;
   border-radius: 2px;
   cursor: pointer;
   transition: all 0.5s;
   background-color: #f0f0f0;
   color: dodgerblue;
   border: 1px solid dodgerblue;
}

input[type=reset]:hover {
   background-color: dodgerblue;
   color: #ffffff;
   transition: all 0.5s;
   opacity: 0.9;
   border: 1px solid dodgerblue;
}

input[type=checkbox] {
   width: 15px;
   height: 15px;
   float: left;
   margin-left: 40px;
}

.go {
   padding: 8px 67px;
   border: none;
   margin-top: 5px;
   border-radius: 2px;
   cursor: pointer;
   transition: all 0.5s;
   background-color: #f0f0f0;
   color: dodgerblue;
   border: 1px solid dodgerblue;
   text-align: center;
}

.go:hover {
   background-color: dodgerblue;
   color: #ffffff;
   transition: all 0.5s;
   opacity: 0.9;
   border: 1px solid dodgerblue;
}


span.rem {
 color: gray;
}


a {
   text-decoration: none;
   color: dodgerblue;
}


/*Media Query*/
@media (max-width: 768px) {
   #sis {
   font-size: 15px;
   margin-left: 5px;
   }

   #ifm {
   font-size: 12px;
   }

   img {
   width: 70px;
   height: 70px;
   margin-left: 30px;
   }

}

         