/* ===================================================
# About-header
=====================================================*/

#about-header {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/structured-cabling/structured-cabling4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
}

#about-header p {
    text-align: center;
    font-family: 'Aboreto', cursive;
}


/* ==== Media Queries ==== */

@media only screen and (max-width:768px) {
    #about-header p {
        font-size: 60px;
    }
}

@media only screen and (max-width:576px) {
    #about-header p {
        font-size: 44px;
    }
}

@media only screen and (max-width:376px) {
    #about-header p {
        font-size: 40px;
    }
}

@media only screen and (max-width:366px) {
    #about-header p {
        font-size: 37px;
    }
}

@media only screen and (max-width:326px) {
    #about-header p {
        font-size: 30px;
        margin-top: 50px;
    }
}


/* ===================================================
# About
=====================================================*/

#about {
    background: var(--light-color);
    color: var(--black-color);
    padding: 60px 0;
}

#about p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.7em;
}


/* ==== Media Queries ==== */

@media only screen and (max-width:1060px) {
    #about .row {
        flex-flow: column wrap;
    }
}

@media only screen and (max-width:768px) {
    #about {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media only screen and (max-width:576px) {
    #about {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


/* ===================================================
# Featured-3
=====================================================*/

#featured-3 {
    background: var(--white-color);
    color: var(--black-color);
    padding: 90px 0;
}

#featured-3 .featured-3-img img {
    width: 450px;
}

#featured-3 .featured-3-text h1 {
    font-family: 'Aboreto', cursive;
    font-size: 60px;
}

#featured-3 .featured-3-text p {
    font-weight: 300;
    margin-top: -20px;
    padding-right: 60px;
    line-height: 1.7em;
}


/* ==== Media Queries ==== */

@media only screen and (max-width:1060px) {
    #featured-3 .row {
        flex-flow: column wrap;
    }
    #featured-3 .featured-3-img img {
        width: 100%;
    }
    #featured-3 .featured-3-text h1 {
        font-size: 60px;
    }
}

@media only screen and (max-width:768px) {
    #featured-3 {
        padding-top: 40px;
    }
    #featured-3 .featured-3-img img {
        width: 100%;
    }
    #featured-3 .featured-3-text {
        margin-top: -30px;
    }
}

@media only screen and (max-width:576px) {
    #featured-3 {
        padding-top: 20px;
    }
    #featured-3 .featured-3-text {
        margin-top: -80px;
    }
    #featured-3 .featured-3-text h1 {
        font-size: 35px;
    }
    #featured-3 .featured-3-text p {
        margin-top: -5px;
        padding-right: 0px;
    }
}


/* ===================================================
# Featured-4
=====================================================*/

#featured-4 {
    background: var(--light-color);
    color: var(--black-color);
    padding: 90px 0;
}

#featured-4 .featured-4-img img {
    width: 550px;
}

#featured-4 .featured-4-text h1 {
    font-family: 'Aboreto', cursive;
    font-size: 60px;
}

#featured-4 .featured-4-text p {
    font-weight: 300;
    margin-top: -20px;
    padding-right: 60px;
    line-height: 1.7em;
}


/* ==== Media Queries ==== */

@media only screen and (max-width:1060px) {
    #featured-4 .row {
        flex-flow: column wrap;
    }
    #featured-4 .featured-4-img img {
        width: 100%;
    }
    #featured-4 .featured-4-text h1 {
        font-size: 60px;
    }
}

@media only screen and (max-width:768px) {
    #featured-4 {
        padding-top: 40px;
    }
    #featured-4 .featured-4-img img {
        width: 100%;
    }
    #featured-4 .featured-4-text {
        margin-top: -30px;
    }
}

@media only screen and (max-width:576px) {
    #featured-4 {
        padding-top: 60px;
    }
    #featured-4 .featured-4-text h1 {
        font-size: 35px;
    }
    #featured-4 .featured-4-text p {
        margin-top: -5px;
        padding-right: 0px;
    }
}


/* ===================================================
# Team
=====================================================*/

#team {
    background: var(--white-color);
    color: var(--black-color);
    padding: 30px 0 60px 0;
}

#team .team-heading {
    font-family: 'Aboreto', cursive;
    font-size: 60px;
    text-align: center;
}

#team .card {
    position: relative;
    background: #fff;
    border-radius: 20px;
    margin: 10px 10px;
}

#team .card::before {
    content: "";
    position: absolute;
    height: 45%;
    width: 100%;
    background: var(--light-color);
    border-radius: 20px 20px 0 0;
}

#team .card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}

#team .card .card-image {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: var(--primary-color);
}

#team .card .card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--white-color);
}

#team .card .social {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
}

#team .card .social i {
    opacity: 0.6;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 20px;
    margin-right: 5px;
}

#team .card .social i:hover {
    opacity: 1;
}

#team .card .name-profession {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: #333;
}

#team .name-profession .name {
    font-size: 20px;
    font-weight: 600;
}

#team .name-profession .profession {
    font-size: 15px;
    font-weight: 500;
}

#team .card .review {
    color: var(--gray-color);
    text-align: center;
}


/* ==== Media Queries ==== */

@media only screen and (max-width:1060px) {
    #team .team-heading {
        font-size: 50px;
    }
}

@media only screen and (max-width:768px) {
    #team .team-heading {
        font-size: 40px;
    }
}

@media only screen and (max-width:576px) {
    #team .team-heading {
        font-size: 35px;
    }
}