/* ===================================================
# Hero
=====================================================*/

#hero {
    height: 700px;
    position: relative;
}

#hero .hero-text {
    margin-top: 120px;
}

#hero .hero-text span {
    font-family: 'Aboreto', cursive;
    color: var(--black-color);
}

#hero .hero-text p {
    font-size: 18px;
    margin-top: 20px;
}

#hero .hero-text a {
    font-size: 18px;
    text-decoration: none;
    margin-top: 20px;
}

#hero .hero-img {
    margin-top: 90px;
    position: relative;
}

#hero .hero-img img {
    width: 420px;
}


/* ==== Media Queries ==== */

@media only screen and (max-width: 1060px) {
    #hero {
        height: 550px;
    }
    #hero .hero-text {
        margin-top: 120px;
    }
    #hero .hero-text span {
        font-size: 65px;
    }
    #hero .hero-img {
        margin-top: 90px;
    }
    #hero .hero-img img {
        width: 300px;
    }
}

@media only screen and (max-width: 768px) {
    #hero {
        height: 1200px;
    }
    #hero .hero-text {
        margin-top: 60px;
    }
    #hero .hero-img {
        margin-top: 10px;
    }
    #hero .hero-img img {
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    #hero {
        height: 800px;
    }
    #hero .hero-text {
        margin-top: 60px;
    }
    #hero .hero-text span {
        font-size: 40px;
    }
    #hero .hero-img {
        margin-top: 20px;
    }
    #hero .hero-img img {
        width: 100%;
    }
}

@media only screen and (max-width:376px) {
    #hero {
        height: 750px;
    }
    #hero .hero-text span {
        font-size: 32px;
    }
}

@media only screen and (max-width: 326px) {
    #hero {
        height: 650px;
    }
    #hero .hero-text {
        margin-top: 50px;
    }
    #hero .hero-text span {
        font-size: 30px;
    }
    #hero .hero-img {
        margin-top: 15px;
    }
    #hero .hero-img img {
        width: 100%;
    }
}


/* ===================================================
# Paralax
=====================================================*/

#paralax {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/structured-cabling/structured-cabling4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

#paralax p {
    text-align: center;
    font-family: 'Aboreto', cursive;
}


/* ==== Media Queries ==== */

@media only screen and (max-width:768px) {
    #paralax p {
        font-size: 60px;
    }
}

@media only screen and (max-width:576px) {
    #paralax p {
        font-size: 44px;
    }
}

@media only screen and (max-width:376px) {
    #paralax p {
        font-size: 40px;
    }
}

@media only screen and (max-width:366px) {
    #paralax p {
        font-size: 37px;
    }
}

@media only screen and (max-width:326px) {
    #paralax p {
        font-size: 30px;
        margin-top: 50px;
    }
}


/* ===================================================
# Featured
=====================================================*/

#featured {
    background: var(--primary-color);
    color: var(--white-color);
    padding: 40px 0 10px 0;
}

#featured .featured-img img {
    width: 500px;
}

#featured .featured-text {
    margin-top: 30px;
}

#featured .featured-text h1 {
    font-family: 'Aboreto', cursive;
    font-size: 60px;
}

#featured .featured-text p {
    font-weight: 300;
    margin-top: -20px;
    padding-right: 60px;
    line-height: 1.7em;
}


/* ==== Media Queries ==== */

@media only screen and (max-width:1060px) {
    #featured {
        padding-top: 0px;
        padding-bottom: 90px;
    }
    #featured .row {
        flex-flow: column wrap;
    }
    #featured .featured-img img {
        width: 100%;
    }
    #featured .featured-text {
        margin-top: -150px;
    }
    #featured .featured-text h1 {
        font-size: 60px;
    }
}

@media only screen and (max-width:768px) {
    #featured {
        padding-top: 30px;
        padding-bottom: 90px;
    }
    #featured .featured-img img {
        width: 100%;
    }
    #featured .featured-text {
        margin-top: -30px;
    }
}

@media only screen and (max-width:576px) {
    #featured {
        padding-top: 20px;
        padding-bottom: 80px;
    }
    #featured .featured-text {
        margin-top: -80px;
    }
    #featured .featured-text h1 {
        font-size: 35px;
    }
    #featured .featured-text p {
        margin-top: -5px;
        padding-right: 0px;
    }
}


/* ===================================================
# Featured-2
=====================================================*/

#featured-2 {
    background: var(--light-color);
    color: var(--black-color);
    padding: 60px 0;
}

#featured-2 .featured-2-img img {
    width: 450px;
}

#featured-2 .featured-2-text h1 {
    font-family: 'Aboreto', cursive;
    font-size: 60px;
}

#featured-2 .featured-2-text p {
    font-weight: 300;
    margin-top: -20px;
    padding-right: 60px;
    line-height: 1.7em;
}


/* ==== Media Queries ==== */

@media only screen and (max-width:1060px) {
    #featured-2 .row {
        flex-flow: column wrap;
    }
    #featured-2 .featured-2-img img {
        width: 100%;
    }
    #featured-2 .featured-2-text h1 {
        font-size: 60px;
    }
}

@media only screen and (max-width:768px) {
    #featured-2 {
        padding-top: 30px;
    }
    #featured-2 .featured-2-img {
        margin-top: -40PX;
    }
    #featured-2 .featured-2-img img {
        width: 100%;
    }
    #featured-2 .featured-2-text {
        margin-top: 0px;
    }
}

@media only screen and (max-width:576px) {
    #featured-2 {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    #featured-2 .featured-2-img {
        margin-top: -20PX;
    }
    #featured-2 .featured-2-text h1 {
        font-size: 35px;
    }
    #featured-2 .featured-2-text p {
        margin-top: -5px;
        padding-right: 0px;
    }
}


/* ===================================================
# Featured-3
=====================================================*/

#featured-3 {
    background: var(--white-color);
    color: var(--black-color);
    padding: 50px 0;
}

#featured-3 .featured-3-img img {
    width: 450px;
}

#featured-3 .featured-3-text h1 {
    font-family: 'Aboreto', cursive;
    font-size: 60px;
}

#featured-3 .featured-3-text p {
    font-weight: 300;
    margin-top: -20px;
    padding-right: 60px;
    line-height: 1.7em;
}


/* ==== Media Queries ==== */

@media only screen and (max-width:1060px) {
    #featured-3 .row {
        flex-flow: column wrap;
    }
    #featured-3 .featured-3-img img {
        width: 100%;
    }
    #featured-3 .featured-3-text h1 {
        font-size: 60px;
    }
}

@media only screen and (max-width:768px) {
    #featured-3 {
        padding-top: 40px;
    }
    #featured-3 .featured-3-img img {
        width: 100%;
    }
    #featured-3 .featured-3-text {
        margin-top: -30px;
    }
}

@media only screen and (max-width:576px) {
    #featured-3 {
        padding-top: 10px;
        padding-bottom: 65px;
    }
    #featured-3 .featured-3-text {
        margin-top: -80px;
    }
    #featured-3 .featured-3-text h1 {
        font-size: 35px;
    }
    #featured-3 .featured-3-text p {
        margin-top: -5px;
        padding-right: 0px;
    }
}


/* ===================================================
# Featured-4
=====================================================*/

#featured-4 {
    background: var(--light-color);
    color: var(--black-color);
    padding: 90px 0;
}

#featured-4 .featured-4-img img {
    width: 550px;
}

#featured-4 .featured-4-text h1 {
    font-family: 'Aboreto', cursive;
    font-size: 60px;
}

#featured-4 .featured-4-text p {
    font-weight: 300;
    margin-top: -20px;
    padding-right: 60px;
    line-height: 1.7em;
}


/* ==== Media Queries ==== */

@media only screen and (max-width:1060px) {
    #featured-4 .row {
        flex-flow: column wrap;
    }
    #featured-4 .featured-4-img img {
        width: 100%;
    }
    #featured-4 .featured-4-text h1 {
        font-size: 60px;
    }
}

@media only screen and (max-width:768px) {
    #featured-4 {
        padding-top: 40px;
    }
    #featured-4 .featured-4-img img {
        width: 100%;
    }
    #featured-4 .featured-4-text {
        margin-top: -30px;
    }
}

@media only screen and (max-width:576px) {
    #featured-4 {
        padding-top: 60px;
    }
    #featured-4 .featured-4-text h1 {
        font-size: 35px;
    }
    #featured-4 .featured-4-text p {
        margin-top: -5px;
        padding-right: 0px;
    }
}


/* ===================================================
# Testimonial
=====================================================*/

#testimonial {
    position: relative;
    background: var(--white-color);
    color: var(--black-color);
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
    padding: 25px 0 60px 0;
    overflow: hidden;
    margin-bottom: 30px;
}

#testimonial .container {
    overflow: hidden;
}

#testimonial .swiper {
    width: 1050px;
}

#testimonial .testimonial-heading {
    font-family: 'Aboreto', cursive;
    font-size: 60px;
    text-align: center;
}

#testimonial .card {
    position: relative;
    background: var(--white-color);
    border-radius: 20px;
    margin: 10px 0;
}

#testimonial .card::before {
    content: "";
    position: absolute;
    height: 32%;
    width: 100%;
    background: var(--light-color);
    border-radius: 20px 20px 0 0;
}

#testimonial .card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}

#testimonial .card .card-image {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: var(--primary-color);
}

#testimonial .card .card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--white-color);
}

#testimonial .card .name-profession {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    color: #333;
}

#testimonial .name-profession .name {
    font-size: 20px;
    font-weight: 600;
}

#testimonial .name-profession .profession {
    font-size: 15px;
    font-weight: 500;
}

#testimonial .card .review {
    color: var(--gray-color);
    text-align: center;
}

#testimonial .swiper-pagination-bullet {
    height: 7px;
    width: 26px;
    border-radius: 25px;
    background: var(--primary-color);
}

#testimonial .swiper-button-next,
#testimonial .swiper-button-prev {
    opacity: 0.7;
    color: var(--primary-color);
    outline: none;
}

#testimonial .swiper-button-next:hover,
#testimonial .swiper-button-prev:hover {
    opacity: 1;
}


/* ==== Media Queries ==== */

@media only screen and (max-width:1060px) {
    #testimonial .testimonial-heading {
        font-size: 50px;
    }
}

@media only screen and (max-width:768px) {
    #testimonial .testimonial-heading {
        font-size: 40px;
    }
}

@media only screen and (max-width:576px) {
    #testimonial .testimonial-heading {
        font-size: 35px;
    }
}