/* ===================================================
# Project-header
=====================================================*/

#project-header {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/camera/camera15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
}

#project-header p {
    text-align: center;
    font-family: 'Aboreto', cursive;
}


/* ==== Media Queries ==== */

@media only screen and (max-width:768px) {
    #project-header p {
        font-size: 60px;
    }
}

@media only screen and (max-width:576px) {
    #project-header p {
        font-size: 44px;
    }
}

@media only screen and (max-width:376px) {
    #project-header p {
        font-size: 40px;
    }
}

@media only screen and (max-width:366px) {
    #project-header p {
        font-size: 37px;
    }
}

@media only screen and (max-width:326px) {
    #project-header p {
        font-size: 30px;
        margin-top: 50px;
    }
}


/* ===================================================
# Projects
=====================================================*/

#projects {
    background: var(--light-color);
    color: var(--black-color);
    padding: 45px 0;
}

#projects h2 {
    font-family: 'Aboreto', cursive;
}

#projects p {
    color: var(--dark-color);
}


/* ==== Media Queries ==== */

@media only screen and (max-width:768px) {
    #projects {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media only screen and (max-width:576px) {
    #projects .container {
        padding: 0 20px;
    }
}