/* ===================================================
# Services-header
=====================================================*/

#services-header {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/it-infrastructure/it-infrastructure2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
}

#services-header p {
    text-align: center;
    font-family: 'Aboreto', cursive;
}


/* ==== Media Queries ==== */

@media only screen and (max-width:768px) {
    #services-header p {
        font-size: 60px;
    }
}

@media only screen and (max-width:576px) {
    #services-header p {
        font-size: 44px;
    }
}

@media only screen and (max-width:376px) {
    #services-header p {
        font-size: 40px;
    }
}

@media only screen and (max-width:366px) {
    #services-header p {
        font-size: 37px;
    }
}

@media only screen and (max-width:326px) {
    #services-header p {
        font-size: 30px;
        margin-top: 50px;
    }
}


/* ===================================================
# Services
=====================================================*/

#services {
    background: var(--light-color);
    color: var(--black-color);
    padding: 60px 0;
}

#services h2 {
    font-family: 'Aboreto', cursive;
}

#services p {
    color: var(--dark-color);
}


/* ==== Media Queries ==== */

@media only screen and (max-width:768px) {
    #services {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media only screen and (max-width:576px) {
    #services .container {
        padding: 0 20px;
    }
}