body {
  overflow-x: hidden;
  /* background: #333; */
}

p#lead {
	margin-right: 25px;
	font-size: 18px;
}

#signin, #signup {
	text-decoration: none;
	transition: 0.7s;
}

.fa-users, .fa-search, .fa-cart-plus {
	cursor: pointer;
	transition-duration: 0.7s;
}

.fa-users:hover, .fa-search:hover , .fa-cart-plus:hover {
	color: black;
}

.fa-cart-plus:hover {
	padding: 0px 5px;
}

.navbar .nav-link {
	font-size: 16px;
	/* text-transform: uppercase; */
	padding-right: 1rem !important;
	padding-left: 1rem ! important;
	transition: 0.5s;
}

.navbar .nav-item.active {
	border-left: #444 3px solid;
}


img {
	transition: all 1s;
}

img:hover {
	transform: scale(1.1);
}


img#transform {
	transition: all 1s;
}

img#transform:hover {
	transform: scale(0.9);
}

/*Logo*/
#logo {
	transition: all 1s;
}

#logo:hover {
	transform: scale(0.7);
}

#go-top {
	color: #343a40;
	background: lightgray;
	border-radius: 5px;
	opacity: 0.9;
	transition: 2s;
}

#go-top:hover {
	color: #fff;
	background: #343a40;
}


#Bottom {
	transition: 1s;
}

/*FOOTER SOCIAL MEDIA ICONS*/

.fab {
	color: #808080;
	transition: 0.5s;
}

.fa-facebook:hover {
	color: silver;
	opacity: 0.8;
}

.fa-twitter:hover {
	color: silver;
	opacity: 0.8;
}

.fa-instagram:hover {
	color: silver;
	opacity: 0.8;
}


.card {
	border: none;
}

.card-img-top {
	cursor: pointer;
}

.btn {
	transition: 0.8s;
}

.btn:hover {
	opacity: 0.9;
}




/* Responsive */

/* Media screen of 1200 and above */

@media (min-width: 1200px) {
	p#lead {
		margin-right: 65px;
	}
}

/* Media Screen of 768px and less*/
@media (max-width: 768px) {
	h1.display-3 {
		font-size: 38px;
	}

	p#lead, p#text {
		font-size: 16px;
	}

	.carousel-item {
	height: 285px;
    }

    #color-1 {
    	color: #fff;
    }
    #color-2 {
    	color: #fff;
    	font-size: 16px;
    }

}

/* Media Screen of 450px and less*/

@media (max-width: 450px) {
	h1.display-3 {
		font-size: 28px;
	}

	p#lead {
		font-size: 11px;
		margin-right: 0px;
	}
 
    .fa-users, .fa-search, .fa-cart-plus {
	    font-size: 8px;
    }


    .fa-cart-plus:hover {
	    padding: 0px 1px;
    }

    #signin, #signup {
    	font-size: 8px;
    }
    
}
