/*===========================================
# General
============================================*/
body {
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  background: #fff;
  font-family: 'Comfortaa', sans-serif;	
}

.card {
	border: none;
}

.card-img-top {
	cursor: pointer;
}

.btn {
	transition: 0.8s;
}

.btn:hover {
	opacity: 0.9;
}

/*===========================================
# Header
============================================*/
.header {
	padding-top: 1.5rem!important;
	padding-bottom: 1.5rem!important;
	background: #343a40;
}

.header #lead {	
	font-family: 'Abel', sans-serif;
	font-size: 20px;
	opacity: 0.9;
}

.header #signin, .header #signup {
	text-decoration: none;
	transition: 0.7s;
	/* font-size: 18px; */
	font-family: "Nanum Gothic", sans-serif;
}

.header .fa-users, .header .fa-search, .header .fa-cart-plus {
	transition-duration: 0.7s;
	color: #f8f9fa;
	cursor: pointer;
}

.header .fa-users:hover, .header .fa-search:hover , .header .fa-cart-plus:hover {
	color: #d3d3d3;
}

.header .fa-cart-plus {
	animation: sideToside 1.5s infinite alternate;
	transition: all 1s;
}

@keyframes sideToside {
	0% {transform: translateX(-10px);}

	100% {transform: translateX(5px); color: #ffc107;}
}

/* Media Screen of 768px and less*/
@media (max-width: 768px) {
	.header {
		padding-top: 1.5rem!important;
	    padding-bottom: 0rem!important;
	}

	.header #lead {
		font-size: 17px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

/*===========================================
# Navigation
============================================*/
.navbar {
	background: #343a40;
}

.navbar-brand {
	font-size: 30px;
	font-family: 'Dancing Script', cursive;
	margin-top: -12px;
}

.navbar #logo {
	transition: all 1s;
}

.navbar #logo:hover {
	transform: scale(0.8);
}

.navbar .nav-link {
	font-size: 19px;
	font-family: 'Abel', sans-serif;
	padding-right: 1rem !important;
	padding-left: 1rem ! important;
	transition: 0.5s;
}

.navbar .nav-item.active {
	border-left: #444 3px solid;
}

@media (max-width: 768px) {
	.navbar #logo {
		margin-left: 3px;
	}
}

/* Media Screen of 690px and less*/
@media (max-width: 690px) {

    .navbar .fa-users, .navbar .fa-search, .navbar .fa-cart-plus {
		font-size: 14px;
	    transition-duration: 0.7s;
		color: #f8f9fa;
		cursor: pointer;		
	}
	
	.navbar .fa-users, .navbar .fa-search, .navbar .fa-cart-plus:hover {
		color: #d3d3d3;
		cursor: pointer;
    }

    .navbar #signin, .navbar #signup {
		font-size: 14px;
		text-decoration: none;
	    font-family: "Nanum Gothic", sans-serif;
	}

	.navbar .fa-cart-plus {
		animation: sideToside 1.5s infinite alternate;
		transition: all 1s;
	}
	
	@keyframes sideToside {
		0% {transform: translateX(-10px);}
	
		100% {transform: translateX(1px); color: #ffc107;}
	}
    
}

/*===========================================
# Showcase Carousel
============================================*/
.carousel-item {
	height: 410px;
	position: relative!important;
}

.dark-overlay {
	top: 0px;
	left: 0px;
	height: 410px;
	width: 100%;
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
}

.carousel-image-1 {
	background-image: url('../img/new.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.carousel-image-2 {
	background: url('../img/new-3.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.carousel-image-3 {
	background: url('../img/Product.png');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.carousel-caption {
	margin-bottom: 60px;
}

.carousel-caption .display-3 {
	color: #eeeeee;
	font-family: 'Abel', sans-serif;
	font-size: 90px;
}

.carousel-caption .lead {
	opacity: 0.7;
	font-family: 'Abel', sans-serif;
	font-size: 23px;
}

.carousel-caption .btn {
	font-family: "Nanum Gothic", sans-serif;
}

/* Media Screen of 768px and less*/
@media (max-width: 768px) {
	.carousel-caption {
		margin-bottom: 60px;
	}

	.carousel-caption .display-3 {
		font-size: 45px;
	}	

	.dark-overlay {
		height: 400px;
	}

	.carousel-item {
		height: 400px;
    }

}

/* Media Screen of 567px and less*/
@media (max-width: 567px) {
	.dark-overlay {
		height: 700px;
	}

	.carousel-item {
		height: 700px;
    }

	.carousel-caption {
	    margin-bottom: 210px;
	}

	.carousel-caption .display-3 {
		margin-bottom: -300px;
		font-size: 60px;
		text-align: center;
	}

	.carousel-caption .lead {
		font-size: 23px;
		text-align: center;
		padding-top: 330px;
		padding-bottom: 30px;
	}

	.carousel-caption .btn {
		font-size: 20px;
	    font-family: "Nanum Gothic", sans-serif;
		margin: 0 auto;
	}

}

/*===========================================
# New Arrivals
============================================*/
#new {
	background: #f8f9fa;
}

#new-arrivals-header {
	padding-top: 5px;
	padding-bottom: 20px;
	background: #343a40;
}

#new-arrivals-header #Bottom {
	transition: all 1s;
}

#new-arrivals-header .fa-chevron-circle-down {
	animation: slideDown 1s infinite alternate;
	font-size: 40px;
	margin-top: 15px;
}

@keyframes slideDown {
	0% {transform: translateY(0); color: #f8f9fa;}

	100% {transform: translateY(-10px);}
}

#new img {
	transition: all 1s;
	overflow: hidden;
}

#new img:hover {
	transform: scale(1.1);
	transition: all 1s;
}

#new .card {
	overflow: hidden;
	box-shadow: 0px 4px 4px 0px #d3d3d3;
}

@media (min-width: 600px) and (max-width: 750px) {
	#new #card-1, #new #card-2, #new #card-3, #new #card-5, #new #card-6, #new #card-7  {
		margin-bottom: 25px;
	}
}

/* Media Screen of 567px and less*/
@media (max-width: 576px) {
	#new #card-1, #new #card-2, #new #card-3, #new #card-5, #new #card-6, #new #card-7 {
		margin-bottom: 20px;
	}
}

/*===========================================
# Best Sellers
============================================*/
#best-sellers {
	background: rgba(236, 234, 230, 0.9);
}

#best-sellers .card {
	box-shadow: 0px 4px 4px 0px #d3d3d3;
	border: none;
	background: #d3d3d3;
}

#best-sellers img {
	transition: all linear 0.7s;
}

#best-sellers .card-img {
	position: relative;
	display: inline-block;
	overflow: hidden;
}

#best-sellers .card-img:hover img {
	opacity: 0;
}

#best-sellers .card-img:hover img.transform {
	opacity: 1;
}

#best-sellers .card-body {
	background: #fff;
}

#best-sellers .transform {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

@media (min-width: 600px) and (max-width: 750px) {
	#best-sellers #card-1, #best-sellers #card-2, #best-sellers #card-4, #best-sellers #card-5 {
		margin-bottom: 25px;
	}
}

/* Media Screen of 567px and less*/
@media (max-width: 576px) {
	#best-sellers #card-1, #best-sellers #card-2, #best-sellers #card-4, #best-sellers #card-5 {
		margin-bottom: 20px;
	}
}

/*===========================================
# Footer
============================================*/
footer {
	background: #343a40;
}

footer hr {
	margin: 30px; 
	background:#ffc107;
}

footer #go-top {
	color: #343a40;
	opacity: 0.9;
	transition: all 1s;
}

footer #go-top:hover {
	color: #fff;
	background: #343a40;
}

footer .fa-chevron-circle-up {
	animation: slideUp 1s infinite alternate-reverse;
	font-size: 40px;
	margin-top: 8px;
}

@keyframes slideUp {
	0% {transform: translateY(-10); color: #f8f9fa;}

	100% {transform: translateY(0px);}
}

footer .fab {
	color: #808080;
	transition: 0.5s;
}

footer .fa-facebook:hover {
	color: silver;
	opacity: 0.8;
}

footer .fa-twitter:hover {
	color: silver;
	opacity: 0.8;
}

footer .fa-instagram:hover {
	color: silver;
	opacity: 0.8;
}

footer input[type=text], footer input[type=email] {
	margin-right: 6px;
}

footer h1.display-4 {
	font-family: 'Abel', sans-serif;	
}

footer #copy {
	font-family: 'Abel', sans-serif;
	font-size: 17px;
	opacity: 0.5;
	color: #f8f9fa;
}

/* Media Screen of 567px and less*/
@media (max-width: 576px) {
	footer input[type=text], footer input[type=email] {
		margin-right: 0px;
		width: 95%;
	}

	footer #subscribe {
		width: 94.5%;
	}
}
