body {
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  background: #f8f9fa;
  font-family: 'Nanum Gothic', sans-serif;
}

.header {
	/* background-image: linear-gradient(to left, rgba(255, 193, 7, 0.7), rgba(255, 193, 7, 0.8) ); */
	/* background: #343a40; */
}

p#lead {
	font-family: 'Exo', sans-serif;
	font-size: 18px;
	opacity: 0.9;
}

#signin, #signup {
	text-decoration: none;
	transition: 0.7s;
}

.fa-users, .fa-search, .fa-cart-plus {
	cursor: pointer;
	transition-duration: 0.7s;
	color: #f8f9fa;
}

.fa-users:hover, .fa-search:hover , .fa-cart-plus:hover {
	color: #d3d3d3;
}


.fa-cart-plus {
	animation: sideToside 1s infinite alternate;
	transition: all 1s;
}

@keyframes sideToside {
	0% {transform: translateX(0px);}

	100% {transform: translateX(10px); color: #d3d3d3;}
}

.navbar .nav-link {
	font-size: 16px;
	/* text-transform: uppercase; */
	font-family: 'Exo', sans-serif;
	padding-right: 1rem !important;
	padding-left: 1rem ! important;
	transition: 0.5s;
}

.navbar .nav-item.active {
	border-left: #444 3px solid;
}

.dark-overlay {
	top: 0px;
	left: 0px;
	height: 410px;
	width: 100%;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
}

.carousel-item {
	height: 410px;
	position: relative!important;
}

.carousel-image-1 {
	background-image: url('../img/new.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.carousel-image-2 {
	background: url('../img/new-3.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.carousel-image-3 {
	background: url('../img/Product.png');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.carousel-caption .display-3 {
	margin-top: -260px;
	color: #eeeeee;
}

.carousel-caption .lead {
	opacity: 0.7;
}

img {
	transition: all 1s;
	overflow: hidden;
}

img:hover {
	transform: scale(1.1);
}


img#transform {
	transition: all 1s;
}

img#transform:hover {
	transform: scale(0.9);
}

section#new-arrivals-header {
	padding-top: 5px;
	padding-bottom: 20px;
}

/*Logo*/
#logo {
	transition: all 1s;
	font-family: 'Exo', sans-serif;
}

#logo:hover {
	transform: scale(0.8);
}

hr {
	margin: 30px; 
	background:#ffc107;
}

#go-top {
	color: #343a40;
	opacity: 0.9;
	transition: all 1s;
}

#go-top:hover {
	color: #fff;
	background: #343a40;
}

.fa-chevron-circle-up {
	animation: slideUp 1s infinite alternate-reverse;
	font-size: 40px;
	margin-top: 8px;
}

@keyframes slideUp {
	0% {transform: translateY(-10); color: #f8f9fa;}

	100% {transform: translateY(0px);}
}


#Bottom {
	transition: all 1s;
}

.fa-chevron-circle-down {
	animation: slideDown 1s infinite alternate;
	font-size: 40px;
	margin-top: 6px;
}

@keyframes slideDown {
	0% {transform: translateY(0); color: #f8f9fa;}

	100% {transform: translateY(-10px);}
}

/*FOOTER SOCIAL MEDIA ICONS*/

.fab {
	color: #808080;
	transition: 0.5s;
}

.fa-facebook:hover {
	color: silver;
	opacity: 0.8;
}

.fa-twitter:hover {
	color: silver;
	opacity: 0.8;
}

.fa-instagram:hover {
	color: silver;
	opacity: 0.8;
}


.card {
	border: none;
}

.card-img-top {
	cursor: pointer;
}

.btn {
	transition: 0.8s;
}

.btn:hover {
	opacity: 0.9;
}

#card-1, #card-2, #card-3, #card-4, #card-5, #card-6, #card-7, #card-8 {
	width: 260px;
	height: 350px;
	overflow: hidden;
	box-shadow: 0px 2px 2px 0px #d3d3d3;
}

#card-1 img, #card-2 img, #card-3 img, #card-4 img, #card-5 img, #card-6 img, #card-7 img, #card-8 img {
	width: 260px;
	height: 250px;
}

/* Responsive */

/* Media screen of 1200 and above */

@media (max-width: 1024px) {
	#card-1, #card-2, #card-3, #card-4, #card-5, #card-6, #card-7, #card-8 {
		width: 225px;
		height: 350px;
	}
	
	#card-1 img, #card-2 img, #card-3 img, #card-4 img, #card-5 img, #card-6 img, #card-7 img, #card-8 img {
		width: 225px;
		height: 250px;
	}
}

/* Media Screen of 768px and less*/
@media (max-width: 768px) {
	h1.display-3 {
		font-size: 38px;
	}

	p#lead {
		font-size: 12px;
		padding-left: 15px;
		padding-right: 10px;
	}

	p#text {
		font-size: 16px;
		/* padding-left: 15px; */
		/* padding-right: 10px; */
	}


	.dark-overlay {
		height: 400px;
	}

	.carousel-item {
	height: 400px;
    }

    #color-1 {
    	color: #fff;
    }
    #color-2 {
    	color: #fff;
    	font-size: 16px;
	}
	
	#card-1, #card-2, #card-3, #card-4, #card-5, #card-6, #card-7, #card-8 {
		width: 330px;
		height: 370px;
	}

	#card-1 img, #card-2 img, #card-3 img, #card-4 img, #card-5 img, #card-6 img, #card-7 img, #card-8 img {
		width: 330px;
		height: 400px;
	}

}


@media (max-width: 768px) {
	img:hover {
		transform: scale(1.1);
	}
	
}

/* Media Screen of 450px and less*/

@media (max-width: 576px) {
	.carousel-caption .display-3 {
		margin-top: -310px;
		font-size: 40px;
		text-align: center;
	}

	.carousel-caption .lead {
		font-size: 20px;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 10px;
	}

	.carousel-caption .btn {
		font-size: 20px;
		margin: 0 auto;
	}

	p#lead {
		font-size: 10px;
		padding-left: 5px;
		padding-right: 10px;
	}
 
    .fa-users, .fa-search, .fa-cart-plus {
	    font-size: 8px;
    }


    .fa-cart-plus:hover {
	    padding: 0px 1px;
    }

    #signin, #signup {
    	font-size: 8px;
	}
	
	#card-1, #card-2, #card-3, #card-4, #card-5, #card-6, #card-7, #card-8 {
		margin: 0 auto;
		width: 290px;
	    height: 365px;
	}

	#card-2, #card-3, #card-4, #card-6, #card-7, #card-8 {
		margin-top: 25px;
	}

	#card-9, #card-10, #card-11, #card-12, #card-13, #card-14 {
		margin-top: 15px;
	}

	
	#card-1 img, #card-2 img, #card-3 img, #card-4 img, #card-5 img, #card-6 img, #card-7 img, #card-8 img {
		width: 290px;
		height: 250px;
	}

	#sub, input[type=text], input[type=email] {
		width: 100%;
		margin-right: 6px;
	}
    
    
}
