/*===================================================
# About
====================================================*/

.about {
    margin: 30px 0 60px 0;
}

.about h1.title {
    font-size: 90px;
    margin-bottom: 45px;
}

.about h1.title::after {
    display: none;
}

.about .row {
    margin-top: 32px;
    margin-bottom: -30px;
}

.about .card {
    position: relative;
    box-shadow: 0 3px 10px rgba(118, 116, 116, 0.6);
}

.about .card::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 30px;
    top: 0;
    left: 0;
    background: #c46a21;
}

@media only screen and (max-width: 768px) {
    .about h1.title {
        font-size: 60px;
        margin-bottom: 45px;
    }
}

@media only screen and (max-width: 576px) {
    .about h1.title {
        font-size: 30px;
        margin-bottom: 45px;
    }
}

/*===================================================
# Team
====================================================*/

.team {
    margin: 30px 0 60px 0;
}

.team .row-1 {
    margin-top: 50px;
    margin-bottom: 40px;
}

.team .row-2 {
    margin-bottom: 40px;
}

.team .cardy {
    margin: 0 25px;
}

.team img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.team .card-body {
    text-align: center;
}
