/*===================================================
# Main
====================================================*/
.hero-txt {
    flex-basis: 45%;
    margin-top: 0%;
}

.hero-txt h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}


.hero-img {
    flex-basis: 40%;
    margin-top: -5%;
}

.hero-img img {
    max-width: 90%;
    margin: 0 45px;
}

@media only screen and (max-width: 768px) {
    .hero-txt h1 {
        font-size: 40px;
        line-height: 60px;
        margin: 25px 0;
    }

    .hero-img img {
        width: 100%;
        margin: 0;
    }
}


/*===================================================
# Today Deals
====================================================*/
.todays_deals .today-title {
    margin-left: 50px;
}

.todays_deals .col-2 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.todays_deals .col-2 img {
    width: 100%;
}

/*===================================================
# Featured
====================================================*/
.featured img {
    width: 350px;
    height: 480px;
    object-fit: cover;
}

.featured p {
    background: orange;
    color: #000;
    font-weight: bold;
    padding: 9px 12px;
    width: 120px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
    text-align: center;
}

/*===================================================
# Footer
====================================================*/
.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer-hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}