body {
	overflow-x: hidden;
	font-family: 'Fira Sans Condensed', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

p {
	text-align: justify;
}

.nav-item, section, footer {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 18px;
}

.brand {
    transition: 2s all;
	transform: scale(1.2);
	margin-top: 5px;
	margin-bottom: 5px;
}

.brand:hover {
   
    transition: 1s all;
    transform: scale(1.1);
}

.card-columns .card {
    border: none;
    background: #f8f9fa;
}


/* .card-columns .card:hover {
    background:#d3d3d3;
} */

img {
    padding: 12px;
}

#go-top {
    background: #808080;
    color: #f0f0f0;
    border-radius: 3px;
    transition: 1s;
	font-size: 18px;
}

#go-top:hover {
    color: #000000;
}

#link {
	color: #808080;
	transition: 0.5s;
}

#link:hover {
	color: silver;
	opacity: 0.4;
}


/*FOOTER SOCIAL MEDIA ICONS*/

.fab {
	color: #808080;
	transition: 0.5s;
}

.fa-facebook-f:hover {
	color: silver;
	opacity: 0.8;
}

.fa-twitter:hover {
	color: silver;
	opacity: 0.8;
}

.fa-instagram:hover {
	color: silver;
	opacity: 0.8;
}

.fa-linkedin-in:hover {
	color: silver;
	opacity: 0.8;
}

.fa-pinterest:hover {
	color: silver;
	opacity: 0.8;
}

.fa-google-plus-g:hover {
	color: silver;
	opacity: 0.8;
}

@media (max-width: 500px) {
    h1.display-3 {
        font-size: 40px;
    }
}

@media (min-width: 501px) {
    h1.display-3 {
        font-size: 43px;
    }
}

@media (min-width: 900px) {
    h1.display-3 {
		font-size: 3.9rem;
    }
}