/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #fdc134;
}

a:hover {
  color: #fdd067;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #08AA35;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
  transition: all ease-in-out 0.3s;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #808080;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 16px 0;
  background: #08AA35;
}

#logo {
  transition: all 1s;
}

#logo:hover {
  transition: all 1s;
  transform: rotate(360deg);
}

#header .logo h1 {
  font-size: 24px;
  margin: 0;
  padding: 10px 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo h1 a span, #header .logo h1 a:hover span {
  color: #fdc134;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu ul {
  border-radius: 6px;
}

.nav-menu a {
  display: block;
  position: relative;
  color:  #213b52;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  transition: all 1s;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #fff;
  text-decoration: none;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fdc134;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #213b52;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
  transition: 0.3s;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color:  #08AA35;
  text-decoration: none;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(18, 33, 46, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  font-family: "Poppins", sans-serif;
  color: #213b52;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #08AA35;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

#meru-hero {
    background: url('../img/Photos/shamba.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
}

.dark-overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 410px;
    margin-top: -110px;
}

.dark-overlay h1 {
    display: flex;
    justify-content: center;
    padding-top: 130px;
}

@media (max-width: 360px) {
    .dark-overlay h1 {
        padding-top: 100px;
    }
}

/*--------------------------------------------------------------
# Wadau
--------------------------------------------------------------*/
.wadau .wadau-item {
  margin-bottom: 30px;
}

.wadau .wadau-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  z-index: 1;
}

.wadau .wadau-wrap::before {
  content: "";
  background: rgba(33, 59, 82, 0.6);
  position: absolute;
  left: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
}

.wadau .wadau-wrap img {
  transition: 0.3s;
}

.wadau .wadau-wrap .wadau-links {
  opacity: 0;
  left: 0;
  right: 0;
  top: calc(50% - 36px);
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}

.wadau .wadau-wrap:hover::before {
  left: 0;
}

.wadau .wadau-wrap:hover .wadau-links {
  opacity: 1;
  top: calc(50% - 18px);
}

.modal {
  margin-top: 110px;
}

.modal-title {
  color: #08AA35;
}

.modal-content {
  padding: 12px;
}

/*--------------------------------------------------------------
# Video
--------------------------------------------------------------*/
@media (max-width: 1190px) {
    iframe {
        width: 940px;
        height: 450px;
    }
}

@media (max-width: 990px) {
    iframe {
        width: 720px;
        height: 450px;
    }
}

@media (max-width: 850px) {
    iframe {
        width: 640px;
        height: 400px;
    }
}

@media (max-width: 765px) {
    iframe {
        width: 520px;
        height: 300px;
    }
}

@media (max-width: 540px) {
    iframe {
        width: 440px;
        height: 250px;
    }
}

@media (max-width: 501px) {
    iframe {
        width: 360px;
        height: 250px;
    }
}

@media (max-width: 385px) {
    iframe {
        width: 340px;
        height: 230px;
    }
}

@media (max-width: 360px) {
    iframe {
        width: 300px;
        height: 220px;
    }
}

@media (max-width: 320px) {
    iframe {
        width: 280px;
        height: 200px;
    }
}

/*--------------------------------------------------------------
# Picha
--------------------------------------------------------------*/
.picha .picha-item {
    margin-bottom: 30px;
  }
  
  .picha #portfolio-flters {
    padding: 0;
    margin: 0 0 35px 0;
    list-style: none;
    text-align: center;
  }
  
  .picha .picha-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    z-index: 1;
  }
  
  .picha .picha-wrap::before {
    content: "";
    background: rgba(33, 59, 82, 0.6);
    position: absolute;
    left: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
  }
  
  .picha .picha-wrap img {
    transition: 0.3s;
  }
  
  .picha .picha-wrap .picha-links {
    opacity: 0;
    left: 0;
    right: 0;
    top: calc(50% - 36px);
    text-align: center;
    z-index: 3;
    position: absolute;
    transition: all ease-in-out 0.3s;
  }
  
  .picha .picha-wrap .picha-links a {
    color: #08AA35;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    width: 36px;
    height: 36px;
    display: inline-block;
    transition: 0.3s;
  }
  
  .picha .picha-wrap .picha-links a:hover {
    color: #fff;
  }
  
  .picha .picha-wrap .picha-info {
    opacity: 0;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
  }
  
  .picha .picha-wrap .picha-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
  }
  
  .picha .picha-wrap .picha-info p {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .picha .picha-wrap:hover::before {
    left: 0;
  }
  
  .picha .picha-wrap:hover .picha-links {
    opacity: 1;
    top: calc(50% - 18px);
  }
  
  .picha .picha-wrap:hover .picha-info {
    opacity: 1;
    bottom: 0;
  }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: url("../img/tea.jpg") center center no-repeat;
  color: #fff;
  font-size: 14px;
  position: relative;
}

#footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(26, 46, 64, 0.85);
  z-index: 1;
}

#footer .footer-top {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 80px 0;
}

#footer .footer-top h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding-bottom: 0;
  margin-bottom: 0;
}

#footer .footer-top p {
  font-size: 15;
  font-style: italic;
  margin: 30px 0 0 0;
  padding: 0;
}

#footer .footer-top .footer-newsletter {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}

#footer .footer-top .footer-newsletter form {
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #08AA35;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: #08BB35;
}

#footer .footer-top .social-links {
  margin-top: 30px;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #808080;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #08AA35;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  border-top: 1px solid #1a2e40;
  z-index: 2;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer .copyright {
  text-align: center;
  float: left;
}

@media (max-width: 768px) {
  #footer .copyright {
    padding: 5px;
    float: none;
    text-align: center;
  }
}